/* input:focus{
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
    } */
    button{
        width:auto;
        height : 30px;
        background-color: rgb(63, 95, 155);
        box-shadow: rgb(182, 180, 180) 1px 1px 4px ;
        color : white ;
        font-weight: bold ;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        border: none ;
    }
    button:hover{
        background-color: rgba(165, 165, 165, 0);
        border: cornflowerblue solid 1px ;
        color : rgb(94, 92, 92) ;
    }
    input{
        margin: 10px;
        border: rgb(179, 179, 223) solid .5px;
        border-radius: 6px;
        padding : 4px;
        transition: all .2ms ease-in-out;
    }
    input:focus{
        outline-style: solid;
        outline-color: cornflowerblue;
        /* outline:rgb(179, 179, 223); */
        /* border: none; */
    }
    input::placeholder{
        color : rgb(133, 117, 117) ;
    }
    
    table.bordered-table th, td {
        text-align: center;
        border: 1px solid silver;
    }
    table.bordered-table {
        border-collapse: collapse;
    }